html,body{
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}
.parent{
    height:100%;
    width: 100%;
    background-color: cyan;
    position: relative;
}
.child1{
    height:300px;
    width: 300px;;
    position: absolute;
    top:10px;
    right:10px;
    border-radius: 3px;
}
.child2{
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 15px;
}
.child3{
    position: absolute;
    border-radius: 2px;
    top:50%;
    
    left:0px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

